@use postcss-preset-env;

*, *::after, *::before {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
html, body{
  width: 100% !important;
  overflow-x: hidden !important;
}
body {
  background-color: #b2f1ed;
  color: #654321;
  font-weight: bolder;
  max-height: 1080px;
  display: inline-flex;
}



.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 324.3px;
  align-items: center;
}
.counter {
  width: 280px;
  height: 60px;
  margin-bottom: 60px;
  display: flex;
  gap: 0.25em;
  margin-top: 9px;
  align-items: center;
  justify-content: center;
  background-image: url(https://i.imgur.com/zL6fgzC.png);
  background-size: cover;  
}

.diasSinPelear_number{
  text-align: center;
  background-color: #f7f7f7;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
  border-radius: .1em;
  padding-left: 4px;
  padding-right: 4px;
}
.diasSinPelear_Container{
  width: 125px;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -4px;
}

.counter-segment {
  display: flex;
  flex-direction: column;
  gap: .05em;
  align-items: center;
  margin-top: -6px;
}

.segment {
  display: flex;
  gap: .1em;
}

.segment-title {
  font-size: 0.5rem;
}

.flip-card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
  border-radius: .1em;
}

.top,
.bottom,
.flip-card .top-flip,
.flip-card .bottom-flip {
  height: .75em;
  line-height: 1;
  padding: .25em;
  overflow: hidden;
}

.top,
.flip-card .top-flip {
  background-color: #f7f7f7;
  border-top-right-radius: .1em;
  border-top-left-radius: .1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bottom,
.flip-card .bottom-flip {
  background-color: white;
  display: flex;
  align-items: flex-end;
  border-bottom-right-radius: .1em;
  border-bottom-left-radius: .1em;
}

.flip-card .top-flip {
  position: absolute;
  width: 100%;
  animation: flip-top 250ms ease-in;
  transform-origin: bottom;
}

@keyframes flip-top {
  100% {
    transform: rotateX(90deg);
  }
}

.flip-card .bottom-flip {
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: flip-bottom 250ms ease-out 250ms;
  transform-origin: top;
  transform: rotateX(90deg);
}

@keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}





.nightstand{
  justify-content: center;  
  z-index: 1;
}

.nightstand-top{
  width: 100%;
  height: 0px;
  border-right: 40px solid transparent;
  border-left: 40px solid transparent;
  border-bottom: 100px solid #C19A6B;
  display: flex;
}

.flowers-container{
  width: 48px;
  height: 70px;
  margin-top: 8px;
  margin-left: -19px;
}
.flowers_img{
  width: 48px;
  height: 70px;
  position: relative;
  z-index: initial;
}


.afrodita-container{
  width: 30px;
  height: 30px;
  margin-top: 15px;
}
.afrodita_img{
  width: 30px;
  height: 30px;
  position: relative;
  z-index: initial;
}


.brujula-container{
  width: 30px;
  height: 30px;
  margin-top: 35px;
}
.brujula_img{
  width: 30px;
  height: 30px;
  position: relative;
  z-index: initial;
}


.db_img{
  width: 36px;
  height: 36px;
  margin-top: 10px;
  position: relative;
  z-index: initial;
}

.foto-container-img{
  width: 60px;
  height: 48px;
  margin-top: -15px;;
}
.foto_img{
  width: 62px;
  height: 50px;
  position: relative;
  z-index: initial;
}

.libros-container{  
  width: 60px;
  height: 60px;
  margin-top: 25px;
}
.libros_img{
  width: 60px;
  height: 60px;
  position: relative;
  z-index: initial;
}




.nightstand-body{
  width: 100%;
  height: 75px;
  display: flex;
  background-color:#C19A6B;
  align-items: center;
  justify-content: center;
  border: groove;
  border-width: thin;
}

.nightstand-door{
  width: 95%;
  height: 80%;
  display: flex;
  background-color: #C19A6B;
  align-items: center;
  justify-content: center;
  border: outset
}
.legs{
  display: inline-flex;
  width: 100%;
  place-content: space-between
}
.nightstand-leg-l{
  width: 20px;
  height: 5px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 80px solid #C19A6B;
  display: flex;
  border-bottom: 15px; 
}

.nightstand-leg-r{
    width: 20px;
    height: 5px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 80px solid #C19A6B;
    display: flex;
    border-bottom: 15px;    
}

img{
  width: 14px;
  height: 14px;
}


                            .left-wall-section{
  width: 294.85px;
  height: 412px;
  background-color: #B2B1FE;
}
.curtain {
  width: 100%; /* Ensures the component is the full screen width */
  height: 200px;
  overflow: hidden; /* Allows you to slide the panels outside the container without them showing */
  border: 3px solid #555;
  transform: rotate(342deg) skew(342deg, 324deg);
  display: inline-block;
  margin: 32px 0px;
}

.curtain__wrapper {
  /*These make sure the curtain covers the whole container*/
  width: 100%;
  height: 100%;
}

.curtain__panel {
  /*These sets a background color as well as an img to make it look like an actual curtain*/
  background-image: url("https://images.vexels.com/media/users/17482/101168/preview2/01bdac45c37aff22f75230abf3f019d4-red-curtain-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%; /* Each panel takes up half the container */
  height: 100vh; /* Used for demo purposes */
  float: left; /* Makes sure panels are side-by-side */
  position: relative; /* Needed to define the z-index */
  z-index: 2; /* Places the panels in front of the prize */
  transition: all 1s ease-out; /* Animates the sliding transition */
}

.curtain__panel--left {
  /* Slides the panel to the left out of the container */
  transform: translateX(-90%);
}

.curtain__panel--right {
  /* Slides the panel to the right out of the container */
  transform: translateX(90%);
}

.curtain__prize {

  background-image: url("https://i.imgur.com/Y5QqJvA.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute; /* Forces the prize position into the container start */
  z-index: 1; /* Places the prize behind the panels, which are z-index 2 */
  width: 100%; /*Makes sure that it fills the whole container*/
  height: 195px;
}
input[type="checkbox"] {
  position: absolute; /* Force the checkbox at the start of the container */
  cursor: pointer; /* Indicate the curtain is clickable */
  width: 100%; /* The checkbox is as wide as the component */
  height: 100%; /* The checkbox is as tall as the component */
  z-index: 100; /* Make sure the checkbox is on top of everything else */
  opacity: 0; /* Hide the checkbox */
}

/* When the checkbox is checked... */
/* Slide the first panel in */
input[type="checkbox"]:checked ~ div.curtain__panel--left {
  transform: translateX(0);
}

/* Slide the second panel in */
input[type="checkbox"]:checked ~ div.curtain__panel--right {
  transform: translateX(0);
}



.rigth-bed-section{
  width: 294.85px;
}
.bed{
  margin-top: 89px;
}
.bed_body{
  background-color: #87CEFA;
  height: 209px;
  width: 240px;
  transform: rotate(17deg) skew(39deg, 344deg);
}
.bed-side{
  background-color: #69b9eb;
  height: 209px;
  width: 20px;
}
.legs_bed{  
  display: inline-flex;
  width: 100%;
  place-content: space-between;
}

.leg_l{
  height: 50px;
  width: 10px;
  background-color: #654321;
  margin-left: -40px;
  margin-top: -68px;
  position: absolute;
} 
.leg_r{
  height: 50px;
  width: 10px;
  background-color: #654321;
  margin-left: 184px;
  margin-top: -68px;
  position: absolute;
} 


.Moi{
  margin-top: -29px;
  margin-left: 95px;
}
.moi_img{
  width: 60px;
  height: 80px;
  position: relative;
  z-index: initial;
}

.astronauta-container{
  margin-top: -29px;
  margin-left: 40px;
}
.astronauta_img{  
  width: 30px;
  height: 30px;
  position: relative;
  z-index: initial;}

.container_pillow {
  margin: auto;
  width: 50px;
  height: 30px;
  margin-top: -194px;
}

.pillowcase {
  position: absolute;
  background: #f1f0ea;
}
  .full {
    width: 50px;
    height: 30px;
    border-radius: 50% 50% 50% 50% / 10% 10% 10% 10%;
    -webkit-transform: skew(5deg) rotate(-5deg);
    -ms-transform: skew(5deg) rotate(-5deg);
    transform: skew(5deg) rotate(-5deg);}
.side {
  position: absolute;
  width: 10px;
  height: 8px;
  border-radius: 50% 100%;
  -webkit-transform: skew(5deg);
  -ms-transform: skew(5deg);
  transform: skew(5deg);
  } .top-left {
  left: -5px;
    background: #f1f0ea;
  }
  .top-right {
    top: -3px;
    left: 41px;
    background: #f1f0ea;
    border-radius: 100% 50%;
  }
  .bottom-left {
    top: 25px;
    left: -4px;
    background: #f1f0ea;
    border-radius: 100% 50%;
  }
  .bottom-right {
    top: 20px;
    left: 44px;
    background: #f1f0ea;
    border-radius: 50% 100%;
  }

  .cobija {
    width: 100%; /* Ensures the component is the full screen width */
    height: 130px;
    overflow: hidden; /* Allows you to slide the panels outside the container without them showing */
    /*transform: rotate(82deg) skew(343deg, 336deg);*/
    display: inline-block;
    margin: -44px 0px;
  }
  
  .cobija__wrapper {
    /*These make sure the curtain covers the whole container*/
    width: 100%;
    height: 100%;
  }
  
  .cobija__panel {
    background-image: url("https://i.imgur.com/NmJTi5o.png");
    background-size: cover;
    width: 100%; /* Each panel takes up half the container */
    height: 100%; /* Used for demo purposes */
    float: left; /* Makes sure panels are side-by-side */
    position: relative; /* Needed to define the z-index */
    z-index: 2; /* Places the panels in front of the prize */
    transition: all 1s ease-out; /* Animates the sliding transition */
  }
  
  .cobija__panel--right {
    /* Slides the panel to the right out of the container */
    transform: translateY(90%);
  }
  
  .cobija__prize {
     background: transparent;
    position: absolute; /* Forces the prize position into the container start */
    z-index: 1; /* Places the prize behind the panels, which are z-index 2 */
    width: 170px; /*Makes sure that it fills the whole container*/
    height: 128px;
  }
  input[type="checkbox"] {
    position: absolute; /* Force the checkbox at the start of the container */
    cursor: pointer; /* Indicate the curtain is clickable */
    width: 100%; /* The checkbox is as wide as the component */
    height: 128px; /* The checkbox is as tall as the component */
    z-index: 100; /* Make sure the checkbox is on top of everything else */
    opacity: 0; /* Hide the checkbox */
  }
  
  input[type="checkbox"]:checked ~ div.cobija__panel--right {
    transform: translateX(0);
  }
  input[type="checkbox"]:checked ~ div.triangle--down {
    transform: translateX(0);
  }

  .triangle{
    width: 0px;
    height: 0;
    z-index: 3;
    border-top: 36px solid #69b9eb;
    border-right: 21px solid transparent;
    float: left; /* Makes sure panels are side-by-side */
    position: fixed; /* Needed to define the z-index */
  }
  .triangle_cobija{
    width: 0px;
    height: 0;
    z-index: 3;
    margin-top: 129px;
    border-top: 21px solid #edf4d9;
    border-right: 21px solid transparent;
    float: left; /* Makes sure panels are side-by-side */
    position: fixed; /* Needed to define the z-index */
  }
  .triangle_pared{
    z-index: 3;
    margin-top: 2px;
    border-top: 143px solid transparent;
    border-right: 90px solid #edf4d9;
    margin-left: 200px;
    position: fixed;
  }
  .floor{
    height: 100px;
    width: 340px;
    background-color: #edf4d9;
    z-index: -1;
    position: fixed;
    margin-top: 313px;
  }
  .floor_R{
    height: 157px;
    width: 290px;
    background-color: #edf4d9;
    position: fixed;
    margin-top: 167px;
    margin-left: -5px;
  }

  .wall_R{
    border-top: 265px solid #B2B1FE;
    border-right: 50px solid #B2B1FE;
    border-bottom: 87px solid transparent;
    margin-top: -98px;
    margin-left: 236px;
    position: fixed;
    z-index: 0;
  }






.calendar_body {
  display: grid;
	font: 87.5%/0.5rem 'Lato', sans-serif;
  place-items: center;
  margin-right: 90px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td {
	padding: 0;
}

.calendar-container {
	position: relative;
	width: 80px;
  align-items: center;
}

.calendar-container header {
  border-radius: 1em 1em 0 0;
  background: #e66b6b;
  color: #fff;
  padding: 3px 2px;
  text-align: center;
}

.day {
	font-size: 0.8em;
	font-weight: 900;
	line-height: 1em;
}

.month {
	font-size: 0.8em;
	line-height: 1em;
  font-weight: 900;
}

.calendar {
	background: #fff;
	border-radius: 0 0 1em 1em;
	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
	box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
	color: #555;
	display: inline-block;
	padding: 5px;
  width: 80px;
}

.calendar thead {
	color: #e66b6b;
	font-weight: 700;
	text-transform: uppercase;
}

.calendar td {
  text-align: center;
  font-size: 0.4rem;
  padding: 0px 1.6px;
}

.calendar tbody td:hover {
	background: #cacaca;
	color: #fff;
}

.current-day {
	color: #e66b6b;
}

.prev-month,
.next-month {
	color: #cacaca;
}

.ring-left,
.ring-right {
	position: absolute;
	top: 23px;
}

.ring-left { left: 1em; margin-left: -15px; }
.ring-right { right: 1em; margin-right: -15px;}

.ring-left:before,
.ring-left:after,
.ring-right:before,
.ring-right:after {
	background: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, .3), 0 -1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 3px 1px rgba(0, 0, 0, .3), 0 -1px 1px rgba(0, 0, 0, .2);
	content: "";
	display: inline-block;
	margin: 4px;
	height: 6px;
	width: 2px;
}